In [1]:
import pandas as pd

In [20]:
d = {'stupid': ['Stupido', 'shooot de foook ooop'], 'fuckoff': ['get lost', 'why are you still here?']}
df = pd.DataFrame(data=d, index = ['HI :)', 'Why are you so mean?'])

In [21]:
df

                                    stupid                  fuckoff
HI :)                              Stupido                 get lost
Why are you so mean?  shooot de foook ooop  why are you still here?